# Expose access available on all loaders to vanilla sources (development environment only)
public net.minecraft.world.inventory.MenuType <init>(Lnet/minecraft/world/inventory/MenuType$MenuSupplier;Lnet/minecraft/world/flag/FeatureFlagSet;)V
public net.minecraft.world.inventory.MenuType$MenuSupplier
