
# Ignore all
/*

# Exclude source
!/src/

# Exclude docs
!/docs/

# GitHub
!/.github/

# Gradle
!/gradle/
!gradle.properties
!settings.gradle
!build.gradle
!gradlew*

# Documents included in jar
!*.md
!LICENSE*
!CREDITS*
!CHANGELOG*
!CHEATSHEET*
!README*

# Others
!.gitignore
!.gitattributes
!update.json
