
# Ignore all
/*

# Exclude source
!/src/

# Exclude docs
!/docs/

# Gradle
!/gradle/
!gradle.properties
!settings.gradle
!build.gradle
!gradlew*

# Others
!.gitignore
!.gitattributes
!*.md
!LICENSE
!README_*
!update.json
